* {
  margin: 0;
  box-sizing: border-box;

}

body {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f8f8f8;
  background-color: #13141a;

}

.app-wrap {
	display: flex;
  flex-direction:column;
	

  background-color: #1d1f27;
  margin: 2rem;
  border-radius: 1.5rem;
  padding: 2rem;
  height: 90vh;

}

main {
	flex-direction: column;
  justify-content: center;
}

header{
	display: flex;
	align-items: center;

}

header input{
	height: 3rem;
  width: 80%;
  margin: auto;
	max-height: 10px;
	min-height: 25px;
	padding: 1rem;
	margin-bottom: 2vh;
	background-color: #13141a;
	color: #f8f8f8;
	border: none;
	border-radius: 1.5rem;
	position: sticky;

}

header input:focus {
  background-color: rgba(18, 18, 18, 0.8);
	color: #f8f8f8;
}


main {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.location .city {
  color: #eeeeee;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.location .date {
  color: #eeeeee;
  font-size: 1rem;
}
.current .temperature {
  color: #eeeeee;
  font-size: 6rem;
  font-weight: 900;
  margin: 1.5rem 0;


}
.current .temperature span {
  font-weight: 200;
}
.current .weather {
  color: #eeeeee;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 1rem;
  text-shadow: 0 0.2rem rgba(0, 0, 0, 0.4);
}
.current .min-max {
  display: flex;
  color: #eeeeee;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0 0.2rem rgba(0, 0, 0, 0.4);
  justify-content: center;
}
#slash {
  margin: 0 15px  0;
}

#tempMin {
  color: #77a9f5;
}

#tempMax {
  color: #ec6060;
}

@media (max-width: 380px) {
  .app-wrap {
    margin: 1rem; 
    padding: 1rem; 
  }

  header input {
    width: 100%; 
  }

  .current .temperature {
    font-size: 4rem; 
    margin: 1rem 0; 
  }

  .current .weather,
  .location .city,
  .location .date,
  .current .min-max,
  #slash,
  #tempMin,
  #tempMax {
    font-size: 1.5rem; 
  }
}

@media (max-width: 299px){
  .app-wrap{
    display: none;
  }
}